<tbody>

    <!-- Item 1 -->
    <tr>
        <td class="product-info">
            <img src="{{ images[0] }}" alt="Item 1">
            <span>Classic Shirt</span>
        </td>
        <td>$25</td>
        <td><input type="number" value="2" class="quantity-input"></td>
        <td>$50</td>
        <td><button class="btn remove-btn">Remove</button></td>
    </tr>

    <!-- Item 2 -->
    <tr>
        <td class="product-info">
            <img src="{{ images[1] }}" alt="Item 2">
            <span>Casual T-Shirt</span>
        </td>
        <td>$15</td>
        <td><input type="number" value="1" class="quantity-input"></td>
        <td>$15</td>
        <td><button class="btn remove-btn">Remove</button></td>
    </tr>

    <!-- Item 3 -->
    <tr>
        <td class="product-info">
            <img src="{{ images[2] }}" alt="Item 3">
            <span>Denim Jacket</span>
        </td>
        <td>$60</td>
        <td><input type="number" value="1" class="quantity-input"></td>
        <td>$60</td>
        <td><button class="btn remove-btn">Remove</button></td>
    </tr>

</tbody>
